@charset "UTF-8";
.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: auto;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
.carousel img {
    width: 100%;
    transition: opacity 0.5s ease-in-out;
}