@charset "UTF-8";
@import url('fonts.css');
@import url('tags.css');
@import url('forms.css');
@import url('publicidade.css');
@import url('noticias.css');
* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor-logo: #E30613; 
    --cor-principal: #b72a2a;
    --cor-secundaria: #F2505D;
    --cor-clara: rgba(250, 37, 37, 0.5);
    --cor-fundo: #F2F2F2;
    --cor-texto: #212529;
    --cor-cinza-claro: #cccccc;
    --cor-cinza-escuro: #444444;
    --cor-preto: #0D0D0D;
    --cor-sombra: rgba(0, 0, 0, 0.1);
    --cor-link-hover: #c41f1f;
    --branco: #ffffff;
    --sombra-texto: 1px 1px 2px rgba(0, 0, 0, 0.5);
    --sombra-botoes: rgba(160, 185, 217, 0.200);
}
body, html {
    width: 100vw;
    height: 100vh;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    background-color: var(--cor-fundo);
}
footer {
    display: block;
    box-shadow: var(--cor-sombra);
    text-align: center;
    color: var(--cor-preto);
}
#logotipo-top {
    display: inline-block; 
}
#logotipo-top img {
    width: 56px;
    height: 56px;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
#cabecalho {
    background-color: var(--branco);
    height: 30px;
}
#cabecalho > menu {
    max-width: 1080px;
    margin: auto;
    padding-top: 5px;
}
#cabecalho div {
    display: inline-block;
    margin-left: 10%;
}
#top-view {
    background-color: var(--cor-logo);
    margin-top: 2px;
    margin-bottom: 2px;
}
#buscar {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 2px;
    width: 300px;
    transition: border-color 0.3s;
    border: 1px solid var(--cor-cinza-claro);
    background-color: var(--branco);
    margin-left: 5%;
}
#icon-buscar {
    font-size: var(--fonte-padrao);
    color: var(--cor-cinza-escuro);
    padding: 5px;
}
#ibuscar {
    margin-bottom: 0px;
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
}
#ibuscar::placeholder {
    color: var(--cor-cinza-claro);
}
#ibuscar:focus {
    border: none;
    outline: none;
}
#hamburguer {
    color: var(--branco);
    font-size: 36px;
    margin-right: 5%;
}
@media (max-width: 768px) {
    #cabecalho menu {
        text-align: center;
        max-width: 700px;
    }
    #cabecalho div {
        margin-left: 0px;
    }
    #logotipo-top img {
        max-width: 24px;
        max-height: 24px;
        margin: 5px;
    }
    #hamburguer {
        margin-right: 2%;
    }
    #buscar {
        margin-left: 2%;
    }
}