@charset "UTF-8";
@import url(../include/fontawesome/css/all.css);
@import url(fonte.css);
* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor-primaria: #FF0000; 
    --cor-secundaria: #1E1E1E; 
    --cor-destaque: #FFFFFF; 
    --cinza-claro: #F2F2F2; 
    --cinza-medio: #757575;
}  
body, html {
    width: 100vw;
    height: 100vh;
    font-family: "Sora", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    overflow-x: hidden;
}
header {
    height: 65px;
    background-color: var(--cor-secundaria);
}
header > nav {
    max-width: 1080px;
    height: 65px;
    margin: auto;
}
section {
    max-width: 1080px;
    margin: auto;
}
.carousel-container {
    position: relative;
    max-width: 90%;
    overflow: hidden;
    margin: auto;
}
.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    margin-top: 10px;
}
.carousel img {
    width: 100%;
    transition: opacity 0.5s ease-in-out;
    border-radius: 150px;
}
.buttons {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
}
.buttons button {
    background: none;
    color: var(--cor-primaria);
    border: none;
    cursor: pointer;
    border-radius: 50px;
}
@media (max-width: 768px) {
    #menu-desktop {
        display: none;
    }
    ul#margin {
        width: 40%;
    }
}