@charset "UTF-8";
@import url('fonts.css');
@import url('tags.css');
@import url('forms.css');
@import url('publicidade.css');
@import url('noticias.css');
* {
    margin: 0px;
    padding: 0px;
}
:root {
    --cor-logo: #fa2525; 
    --cor-principal: #d82c2c;
    --cor-secundaria: #b72a2a;
    --cor-clara: rgba(250, 37, 37, 0.5);
    --cor-fundo: #f4f4f4;
    --cor-texto: #212529;
    --cor-cinza-claro: #cccccc;
    --cor-cinza-escuro: #444444;
    --cor-preto: #000000;
    --cor-sombra: rgba(0, 0, 0, 0.1);
    --cor-link-hover: #c41f1f;
    --branco: #ffffff;
    --sombra-texto: 1px 1px 2px rgba(0, 0, 0, 0.5);
    --sombra-botoes: rgba(160, 185, 217, 0.200);
}
body, html {
    width: 100vw;
    height: 100vh;
    font-family: "Raleway", sans-serif;
    font-style: normal;
    background-color: var(--cor-fundo);
}
#logotipo-top {
    display: inline-block;  
}

#logotipo-top img {
    width: 92px;
    height: 28px;
    margin: 10px;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer {
    display: block;
    box-shadow: var(--cor-sombra);
    text-align: center;
    color: var(--cor-preto);
}
#cabecalho {
    background-color: var(--branco);
    height: 30px;
}
#cabecalho > menu {
    max-width: 1080px;
    margin: auto;
}
@media (max-width: 768px) {

}