@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --fonte-titulo: 24px;
    --fonte-maior: 18px;
    --fonte-padrao: 16px;
    --fonte-botao: 14px;
    --fonte-apoio: 10px;
}
body, html {
    font-family: "Raleway", sans-serif;
    font-style: normal;
}

header {
    text-align: center;
}

a {
    text-decoration: none;
    color: var(--cor-preto);
    font-style: italic;
}

p {
    font-size: var(--fonte-padrao);
}

h1 {
    font-size: var(--fonte-titulo);
}

.titulo-publi {
    text-align: center;
    text-transform: uppercase;
    color: var(--cor-preto);
    font-size: var(--fonte-apoio);
}

h1.flex {
    font-size: var(--fonte-titulo);
    text-transform: uppercase;
    color: var(--cor-principal);
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
}

label {
    display: block;
    font-size: var(--fonte-botao);
    margin-bottom: 5px;
    color: var(--cor-preto);
}

input,
textarea,
select {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 15px;
    border: 1px solid var(--cor-cinza-claro);
    border-radius: 5px;
    font-size: var(--fonte-botao);
}

input[type="date"] {
    display: block;
    width: 50%;
}

form > button {
    background-color: var(--cor-principal);
    color: var(--branco);
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    font-size: var(--fonte-botao);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

form > button:hover {
    background-color: var(--cor-secundaria);
}

.voltar {
    color: var(--branco);
    background-color: var(--cor-cinza-escuro);   
    float: right; 
}

.voltar:hover {
    color: var(--branco);
    background-color: var(--cor-preto);    
}

.message {
    text-align: center;
    font-size: var(--fonte-padrao);
    color: var(--cor-cinza-escuro);
    margin-top: 20px;
}

footer > p {
    margin-bottom: 0px;
    font-size: var(--fonte-padrao);
    padding: 5px;
    color: var(--cor-preto);
}
h1.titulo-categoria {
    font-size: var(--fonte-maior);
    text-transform: lowercase;
    color: var(--cor-principal);
    font-weight: bold;
}

.categoria {
    display: block;
    margin-top: 5px;
    text-align: left;
    width: max-content;
    padding: 2px;
    font-size: var(--fonte-apoio);
    text-shadow: var(--sombra-texto);
    font-weight: bold;
}

.destaque-item a h2 {
    font-size: var(--fonte-padrao);
    margin-top: 80px;
    padding: 10px;
    color: var(--branco);
}
@media (max-width: 768px) {
    h1.flex {
        font-size: var(--fonte-botao);
    }
    footer > p {
        font-size: var(--fonte-botao);
    }
    div.categorias {
        max-width: 1080px;
    }
}