@charset "UTF-8";
.container {
    max-width: 1200px;
    margin: auto;
    padding: 20px;
}
.titulo-categoria {
    text-align: center;
    margin-bottom: 20px;
}
.destaque {
    position: relative;
}
div.categoria {
    display: flex;
    width: 100%;
}
.destaques {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.destaque-item a,
.categoria-item a{
    text-decoration: none;
    color: var(--branco);    
}
.destaque-item {
    width: 33%;
    border-radius: 8px;
    color: var(--branco);
    text-align: justify;
    padding: 5px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--cor-cinza-claro);
    box-shadow: var(--sombra-texto);
}
.categoria-item {
    width: 50%;
    border-radius: 8px;
    color: var(--branco);
    text-align: justify;
    padding: 5px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--cor-cinza-claro);
    box-shadow: var(--sombra-texto);
    display: inline-block;
}
.destaque-item:hover {
    transform: scale(1.05);
}
.categoria-item:hover {
    transform: scale(1.05);
}
.bolinha-container {
    text-align: center;
    margin-top: 20px;
}
.bolinha {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--cor-cinza-claro);
    border-radius: 50%; 
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    border: 1px solid var(--cor-preto);
}
.bolinha.active {
    background-color: var(--cor-principal); 
}
.bolinha:hover {
    background-color: var(--cor-link-hover); 
}
#categorias{
    max-width: 1080px;
    margin: auto;
}
span.bar-categoria {
    height: 1px;
    min-width: 50%;
    background-color: var(--cor-cinza-claro);
    margin-bottom: 18px;
}
@media (max-width: 768px) {
    .destaque-item {
        width: 80%;
    }
}