@charset "UTF-8";
.container {
    margin: auto;
    padding: 0px;
}
.titulo-categoria {
    text-align: center;
    margin-bottom: 20px;
}
.center {
    text-align: center;
    font-weight: bold;
    font-size: var(--fonte-padrao);
}
.destaque {
    position: relative;
}
div.categoria {
    display: flex;
    width: 100%;
}
.destaques,
.cidades {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}
.destaque-item a,
.cidades-item a,
.categoria-item a{
    text-decoration: none;
    color: var(--branco);    
}
.destaque-item {
    width: 45%;
    border-radius: 8px;
    color: var(--branco);
    text-align: justify;
    padding: 5px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--cor-cinza-claro);
}
.cidades-item,
.categoria-item {
    width: 50%;
    border-radius: 8px;
    color: var(--branco);
    text-align: justify;
    padding: 5px;
    margin: 5px;
    background-size: cover;
    background-position: center;
    border: 1px solid var(--cor-cinza-claro);
    display: inline-block;
}
.cidades-item:hover,
.destaque-item:hover,
.categoria-item:hover {
    transform: scale(1.05);
}
.bolinha-container {
    text-align: center;
    margin-top: 20px;
}
.bolinha {
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--cor-cinza-claro);
    border-radius: 50%; 
    margin: 0 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}
.bolinha.active {
    background-color: var(--cor-principal); 
}
.bolinha:hover {
    background-color: var(--cor-link-hover); 
}
#categorias {
    max-width: 1080px;
    margin: auto;
}
#cidades {
    max-width: 1080px;
    margin: auto;
}
span.bar-categoria {
    height: 1px;
    min-width: 50%;
    background-color: var(--cor-cinza-claro);
    margin-bottom: 18px;
}
div.bar-divisor {
    height: 1px;
    max-width: 1080px;
    background-color: var(--cor-logo);
    margin: auto;
    margin-bottom: 18px;
}
@media (max-width: 768px) {
    .destaque-item {
        width: 80%;
    }
    #categorias,
    #cidades {
        max-width: 560px;
    }
    div.categoria {
        display: block;
        width: 100%;
    }
    .cidade-noticias{
        display: block;
        width: 100%;
    }
    .destaque-item ,
    .cidades-item ,
    .categoria-item {
        display: block;
        width: 90%;    
    }
}