@charset "UTF-8";
#noticiasCarousel {
    position: relative;
    max-width: 99%;
    margin: auto;
    overflow: hidden;
}
.carousel-item {
    display: none;
    position: relative;
    width: 100%;
}
.carousel-item.active {
    display: block;
}
.carousel-item img {
    max-width: 790px;
    max-height: 250px;
    object-fit: cover;
    margin: auto;
}